@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    --color: #3e4048;
    --dark-color: #292a32;
    --text-1: #e9e9e9;
    --text-2: #c1c1c1;
    --button-hover: #a4a4a4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

input {
    border-radius: 20px;
    padding: 0 1rem;
    border: none;
}

svg {
    width: 20px;
    height: inherit;
    fill: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100dvh;
    background-color: var(--text-1);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}


#header {
    width: 80%;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    background-color: var(--color);
    padding: 2rem;
}

#header h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    color: var(--text-1);
    text-align: center;
}

#header #add-book,
form button {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: fit-content;
    padding: 0.3rem 1rem;
    place-self: center;
    border: none;
    background-color: var(--text-1);
    color: var(--dark-color);
    fill: var(--dark-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

#header #add-book:hover ,
form button:hover{
    background-color: var(--button-hover);
    transform: translate(1%, -1%);
}

#header #add-book:focus ,
form button:focus{
    outline: none;
}

#header #add-book:active ,
form button:active{
    /* transform: scale(0.99); */
}

#header #search-bar {
    background-color: var(--text-1);
    color: var(--color);
    font-size: 1.1rem;
}



#layer-1 {
    width: 80%;
    align-self: center;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 1rem;
    background: var(--dark-color);
}

.book-cell {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    width: 200px;
    height: 180px;
    display: grid;
    grid-template: 1fr/1fr 12fr;
    grid-template-areas: "book-strip book-info";
    border-radius: 14px;
    overflow: hidden;
}

.book-strip {
    grid-area: book-strip;
    background: royalblue;
}

.book-info {
    grid-area: book-info;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 4px;
    gap: 6px;
}

.book-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-top: auto;
}


.book-info .btn-cosplay {
    padding: 4px 6px;
    border-radius: 50%;
    cursor: pointer;
}

.book-info .btn-cosplay:hover {
    background-color: var(--text-2);
}

.book-info .btn-cosplay:active {
    transform: scale(0.95);
}

.book-info>.btn-cosplay {
    align-self: end;
    margin: 0 1rem;
}

.book .delete-svg {
    fill: darkred;
}

.book .read .read-svg {
    fill: darkgreen;
}

.book .not-read .read-svg {
    fill: gray;
}


#add-book-dialog {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: none;
    /* padding: 1rem; */
    background-color: var(--color);
    width: 400px;
    fill: var(--text-1);
    color: var(--text-1);
}

#add-book-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

#add-book-dialog #close-dialog {
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-left: auto;
    display: block;
    padding: 4px;

}

#add-book-dialog #close-dialog:hover {
    background-color: red;
}

#add-book-dialog form {
    padding: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
    justify-items: center;
}
form label{
    text-transform: capitalize;
}
form input{
    background-color: var(--dark-color);
    color: var(--text-1);
}
