@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    --color: #3e4048;
    --dark-color: #292a32;
    --text-1: #e9e9e9;
    --text-2: #a1a1a1;
    --button-hover: #a4a4a4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg {
    width: 20px;
    height: inherit;
    fill: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100dvh;
    background-color: var(--text-1);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

#header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    background-color: var(--color);
    width: 80%;
    align-self: center;
    padding: 1rem;

}

#header h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    color: var(--text-1);
    text-align: center;
}

#header #add-book {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: fit-content;
    padding: 0.3rem 1rem;
    place-self: center;
    border: none;
    background-color: var(--text-1);
    color: var(--dark-color);
    fill: var(--dark-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

#header #add-book:hover {
    background-color: var(--button-hover);
    transform: translate(3%, -3%);
}

#header #add-book:active {
    transform: scale(0.99);
}

#header #search-bar {
    background-color: var(--text-1);
    color: var(--color);
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 0 1rem;
    border: none;
}

#header #search-bar:focus {
    outline: none;
}

#layer-1 {
    flex-grow: 1;
    background-color: var(--color);
    width: 80%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    row-gap: 1rem;
    padding: 4rem;
}

.book-cell {
    height: 200px;
    background: var(--dark-color);
    padding: 1rem;
    display: flex;
}

.book {
    flex-grow: 1;
    display: grid;
    grid-template: 1fr/1fr 10fr;
    grid-template-areas: "book-strip book-info";
}

.book-strip {
    grid-area: book-strip;
    background-color: #68382d;
}

.book-info {
    grid-area: book-info;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.book-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.book-footer div {
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;

}

.book-footer div:hover {
    background-color: var(--text-2);
}